@{
    ViewData["Title"] = "Anagram Solver";
}
@{
    var anagrams = ViewData["Anagrams"] as List<WordModel>;
}

@using (Html.BeginForm("index", null, FormMethod.Post))
{
    <input type="text" name="myWords" />
    <input type="submit" value="Enter" />
}

@foreach (var anagram in anagrams)
{
    <div>
        <h3>@anagram.ToString()</h3>
    </div>
}
