<div class="container">
    <div>
        @using (Html.BeginForm("SearchWord", null, FormMethod.Post))
        {
            <input type="search" value="Search" name="myWord" class="badge-light rounded form-group" />
        }
    </div>
</div>
